$cyan-light: #9EBBBD;
$cyan-dark: #5E7A7D;
$green-light: #26C2AE;
$green-dark: #00474B;
$gray-light: #7F9D9F;
$gray-dark: #547878;
$orange: #E17457;
$font-stack: 'Nunito Sans', sans-serif;

$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-desktop: 1440px;
$breakpoint-4k: 2560px;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    width: 100%;
    min-height: 100vh;
    font-family: $font-stack;
    background-color: #C5E4E7;
    overflow: hidden;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.container-title{
    height: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-calculator{
    width: 100%;
    height: 82%;
    padding: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px 25px 0px 0px;
    background-color: #fff;
}

.container-calculator__input p{
    font-size: 16px;
    list-style: 24px;
    color: $cyan-dark;
}

.container-calculator__input{
    display: flex;
    flex-direction: column;
    height: 63%;
    justify-content: space-between;
}

.calculator-input__bill, .calculator-input__people, .tip{ 
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
}

.calculator-input__bill, .calculator-input__people{
    height: 20%;
}

input{
    width: 100%;
    height: 55%;
    border: 0px;
    border-radius: 5px;
    background: #F3F9FA url(./images/icon-dollar.svg) 12px no-repeat;
}

.calculator-input__people .input{
    background: #F3F9FA url(./images/icon-person.svg) 12px no-repeat
}

.input-value{
    padding: 15px;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
}

.input-value__default{
    color: $cyan-light;
}

.input-value__active{
    color: $green-dark;

}

.tip{
    height: 60%;
    overflow: hidden;
}

.tip-buttons{
    height: 90%;
    display: grid;
    row-gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.tip-buttons > div{
    width: 95%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    line-height: 36px;
    background-color: $green-dark;
}

.tip-buttons > div div:last-child{
    background-color: #F3F9FA;
    color: #547878;
}

.button.button-active{
    color: $green-dark;
    background-color: #26C2AE;
}


.container-calculator__output{
    height: 35%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    color: #fff;
    background-color: $green-dark;
}

.output-values{
    height: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.output-values__tip, .output-values__total{
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.output-values__tip, .output-values__total{

    .text{
        width: 50%;
    }

    .text-title{
        font-size: 15px;
        font-weight: bold;
        line-height: 24px
    }

    .text-description{
        font-size: 14px;
        font-weight: bold;
        line-height: 19px;
        color: $gray-light;
    }
    
    .value{
        align-self: center;
        font-size: 26px;
        font-weight: bold;
        line-height: 47px;
        color: $green-light;
    }

    .value span{
        font-size: 20px;
    }
}

button{
    height: 30%;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    color: $green-dark;
    border-radius: 10px;
    background-color: $green-light;
}


@media (min-width: $breakpoint-tablet){

    .container{
        justify-content: start;
    }

    .container-calculator{
        width: 50%;
        height: 79%;
        padding: 5%;
        border-radius: 25px;
    }
}


@media (min-width: $breakpoint-laptop){
    .container-calculator{
        width: 80%;
        height: 70%;
        flex-direction: row;
        padding: 4%;
    }

    .container-calculator__input, .container-calculator__output{
        height: 100%;
        width: 45%;
    }

    
}